* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: ;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: transparent;
  gap: 15px;
  height: 30px;
  align-items: center;
}

a {
  text-decoration: none;
  color: aqua;
}

main {
  display: flex;
  background-image: url();
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  height: 100%;
  align-items: center;
}


.baul {
  display: flex;
  align-items: center;
  background-color: #e7f611;
  border-radius: 20px;
  padding: 5px;
}
.baul.baul:hover{
  content: '\F1205';
}

.baul input {
  border: none;
  outline: none;
  width: 400px;
  padding: 5px;
}

.baul button {
  background-color: #4b29a1;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.iconos {
  display: flex;
}

.iconos div {
  width: 40px;
  height: 40px;
  background-color: #f2f2f2;
  margin-left: 5px;
}

footer {
  display: flex;
  background-color: rgb(255, 238, 0);
  height: 40px;
}