body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.pregunta {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.pregunta:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pregunta p {
  margin: 0;
}

button {
  flex: 1 1 calc(33.33% - 20px);
  margin: 20px auto;
  padding: 30px 50px;
  font-size: 26px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.01s;
}

button:hover {
  background-color: #0056b3;
}

.puntaje-box p {
  font-size: 32px;
  font-weight: bold;
  color: black;
  margin: 0;
  animation: changeColor 1.5s infinite;
}

.puntaje-box {
  padding: 20px;
  background-color: #f0f0f0;
  border: 2px solid #333;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.puntaje-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #38d1ec;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .puntaje-container:hover {
    transform: scale(1.05);
    opacity: 0.8;
  }
  
  .puntaje-container span {
    font-size: 48px;
    font-weight: bold;
    color: black;
    margin-right: 10px;
  }

#triviaContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.pregunta {
  flex: 1 1 calc(33.33% - 20px);
  padding: 15px;
  border: 10px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.pregunta:hover {
  transform: scale(1.05);
}

#triviaContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px; 
}

.pregunta {
  flex: 1 1 calc(33.33% - 20px);
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.pregunta:hover {
  transform: scale(1.05);
}
