body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.header-title {
  text-align: center;
  margin-top: 50px;
}


.card {
  display: inline-block;
  width: calc(20% - 1rem);
  margin: 0.5rem;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
  position: relative;
  border-radius: 100%;
  overflow: hidden; 
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
}

.card-image {
  width: 80%;
  height: auto;
  position: absolute;
  top: 10%;
  left: 15%;
  transform: scale(-50%, 50%);
  transition: transform 0.3s, opacity 0.3s;
}


.card:hover .card-image {
  transform: scale(1.1);
  opacity: 0.8;
}

.card-info {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 0.5rem;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: column;
  margin-block: 40px;
}

.card:hover .card-info {
  opacity: 5;
}

.header-image {
  text-align: center;
  margin-top: 40px;
}
.header-image img {
  max-width: 60%;
}

